# Exercícios utilizando as funções:
## MAP, REDUCE, FILTER, ZIP & LIST COMPREHENSION

In [1]:
# Exercício 1 - Crie uma lista de 3 elementos e calcule a terceira potência de cada elemento.

lista = [2, 14, 7]

# Utilizando a função MAP

def cubo(num):
    return num**3


list(map(cubo, lista))

[8, 2744, 343]

In [2]:
#Utilizando a função List Comprehension:

list(x**3 for x in lista)

[8, 2744, 343]

In [6]:
# Exercício 2 - Reescreva o código abaixo, usando a função map(). O resultado final deve ser o mesmo!

palavras = 'A Data Science Academy oferce os melhores cursos de análise de dados do Brasil'.split()
resultado = [[w.upper(), w.lower(), len(w)] for w in palavras]
for i in resultado:
    print (i)

['A', 'a', 1]
['DATA', 'data', 4]
['SCIENCE', 'science', 7]
['ACADEMY', 'academy', 7]
['OFERCE', 'oferce', 6]
['OS', 'os', 2]
['MELHORES', 'melhores', 8]
['CURSOS', 'cursos', 6]
['DE', 'de', 2]
['ANÁLISE', 'análise', 7]
['DE', 'de', 2]
['DADOS', 'dados', 5]
['DO', 'do', 2]
['BRASIL', 'brasil', 6]

In [9]:
# Exercício 2 utilizando MAP:

resultado = map(lambda w: [w.upper(), w.lower(), len(w)], palavras)
for i in resultado:
    print (i)

['A', 'a', 1]
['DATA', 'data', 4]
['SCIENCE', 'science', 7]
['ACADEMY', 'academy', 7]
['OFERCE', 'oferce', 6]
['OS', 'os', 2]
['MELHORES', 'melhores', 8]
['CURSOS', 'cursos', 6]
['DE', 'de', 2]
['ANÁLISE', 'análise', 7]
['DE', 'de', 2]
['DADOS', 'dados', 5]
['DO', 'do', 2]
['BRASIL', 'brasil', 6]

In [4]:
# Exercício 4 - Crie duas funções, uma para elevar um número ao quadrado e outra para elevar ao cubo. 
# Aplique as duas funções aos elementos da lista abaixo. 
# Obs: as duas funções devem ser aplicadas simultaneamente.
lista = [0, 1, 2, 3, 4]

def quad(num):
    return (num**2)


def cub(num):
    return (num**3)

funcs = [quad,cub]

for i in lista:
    valor = map (lambda num: num(i), funcs)
    print(list((valor)))

[0, 0]
[1, 1]
[4, 8]
[9, 27]
[16, 64]

In [5]:
# Exercício 5 - Abaixo você encontra duas listas. Faça com que cada elemento da listaA seja elevado 
# ao elemento correspondente na listaB.
listaA = [2, 3, 4]
listaB = [10, 11, 12]

list(map(lambda a,b: a**b, listaA, listaB))

[1024, 177147, 16777216]

In [10]:
# Exercício 6 - Considerando o range de valores abaixo, use a função filter() para retornar apenas os valores negativos.

list(filter(lambda x: x<0, range(-5,5)))

[-5, -4, -3, -2, -1]

In [13]:
# Exercício 7 - Usando a função filter(), encontre os valores que são comuns às duas listas abaixo.
a = [1,2,3,5,7,9]
b = [2,3,5,6,7,8]

list(filter(lambda x: x in a, b))

[2, 3, 5, 7]

In [15]:
# Exercício 9 - Considere os dois dicionários abaixo. 
# Crie um terceiro dicionário com as chaves do dicionário 1 e os valores do dicionário 2.
dict1 = {'a':1,'b':2}
dict2 = {'c':4,'d':5}

def trocaValores(d1, d2):
    dicTemp = {}
    
    for d1key, d2val in zip(d1,d2.values()):
        dicTemp[d1key] = d2val
    
    return dicTemp

dict3 = trocaValores(dict1, dict2)
print(dict3)

{'a': 4, 'b': 5}

In [17]:
# Exercício 10 - Considere a lista abaixo e retorne apenas os elementos cujo índice for maior que 5.
lista = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

for i, valor in enumerate(lista):
    if i > 5:
        print(valor)

g
h