### Criando um Dataframe

In [25]:
import pandas as pd
import numpy as np

In [5]:
# Criando um dicionário:
data = {'Estado': ['Paraná','Santa Catarina','Rio Grande do Sul'], 'Ano':[2002,2009,2021], 'População':[1.5,1.7,3.6]}

#Criando um dataframe a partir do dicionário:
frame = pd.DataFrame(data)
display(frame)

              Estado   Ano  População
0             Paraná  2002        1.5
1     Santa Catarina  2009        1.7
2  Rio Grande do Sul  2021        3.6

### Se o nome das colunas não estivesse definido, para definir:
* DataFrame(data, columns=['Estado', 'Ano', 'População'])

In [6]:
# Criando outro dataframe com os mesmos dados anteriores, mas adicionando uma coluna e indexes:

frame2 = pd.DataFrame(data, columns=['Estado', 'Ano', 'População', 'Débito'], index = ['um', 'dois', 'três'])
display(frame2)

                 Estado   Ano  População Débito
um               Paraná  2002        1.5    NaN
dois     Santa Catarina  2009        1.7    NaN
três  Rio Grande do Sul  2021        3.6    NaN

In [31]:
# Testando slices:

frame2[:2] # Mostra tudo das linhas 0 e 1
frame2['Ano'][1] # Mostra apenas a informação da coluna Ano que está na linha 2 (posição 1)
frame2['um':'dois'] # Mostrará as linhas dos índices 'um' até o índice 'dois'

              Estado   Ano  População  Débito
um            Paraná  2002        1.5      10
dois  Santa Catarina  2009        1.7      11

In [24]:
# loc: Mostra que será inserido o NOME de um índice (linha). Especifica-se a coluna (se deixar sem especificar, mostra todas)
frame2.loc['um']['Ano']

2002

In [22]:
# iloc: Mostra que será inserido o índice numérico (independentemente do seu nome)
frame2.iloc[1]['Ano']

2009

In [28]:
# Preenchendo a coluna DÉBITO:

frame2['Débito'] = np.arange(10,13)
display(frame2)

                 Estado   Ano  População  Débito
um               Paraná  2002        1.5      10
dois     Santa Catarina  2009        1.7      11
três  Rio Grande do Sul  2021        3.6      12

In [29]:
# Descrever os dados: quantidade, méddia, desvio padrão, valor mínimo, máximo e os percentis
frame2.describe()

               Ano  População  Débito
count     3.000000   3.000000     3.0
mean   2010.666667   2.266667    11.0
std       9.609024   1.159023     1.0
min    2002.000000   1.500000    10.0
25%    2005.500000   1.600000    10.5
50%    2009.000000   1.700000    11.0
75%    2015.000000   2.650000    11.5
max    2021.000000   3.600000    12.0

In [ ]:
# É possível transformar uma coluna em índice:

# nomedoframe.set_index('nome da coluna')